table {
    border: 1px solid black;
    font-size: 1.2em; 
    text-align: center;
    width: 100%;
}

td {
    border: 1px solid black;
}

.data {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.home {
    width: 60%;
    margin: 0 auto;
}

.check{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

h4 {
    margin-top: 50px;
}

.ant-checkbox-wrapper + .ant-checkbox-wrapper {
    margin: 0;
}

.ant-steps {
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 20px;
}

.ant-input {
    width: 400px;
}

.ant-btn-primary {
    margin-left: 20px;
    margin-top: 50px;
    height: 100px;
}

.ant-btn {
    margin-left: 20px;
    
}
.button {
    display: flex;
    flex-direction: column;
}

.div {
    width: 50%;
    display: flex;
    flex-direction: row;
}

.ant-input {
    width: 340px;
    margin-left: 20px;
}

input[type='radio'] {
    width: 50px;
    height: 20px;
    margin-left: 0px;
}

.ant-input:focus {
    box-shadow: none;
    -webkit-box-shadow: none ;
}

.steps-content {
    border: 1px dashed #e9e9e9;
    border-radius: 6px;
    background-color: #fafafa;
    min-height: 200px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 50px;
}

.steps-action {
    margin-top: 24px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-bottom: 50px;
}